<h2>List of Orders</h2>


<div class="container"></div>
<table class="table table-bordered table-striped table-striped">
    <thead>
        <tr>
            <th *ngFor="let h of headers">{{h}}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ord of orders">
            <td *ngFor="let h of headers">{{ord[h]}}</td>
            <td>
                <input type="button" value="Edit" class="btn btn-danger" (click)="edit(ord.OrderUniqueId)">
            </td>
            <td>
              <input type="button" value="Approve Order" class="btn btn-danger" *ngIf="isAdministrator" (click)="approveOrder(ord.OrderUniqueId)">
          </td>
        </tr>
    </tbody>
</table>
